<section class="msger m-auto">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> Chat With Me
      </div>
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </header>

    <main *ngFor="let item of Messages" class="msger-chat">
      <div class="msg left-msg">
        <div
          class="msg-img"
          style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
        ></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">{{item.sender}}</div>
            <div class="msg-info-time">{{item.date.substr(11,8)}}</div>
          </div>
          <div class="msg-text">
            {{item.msg}}
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" #message placeholder="Enter your message...">
      <button type="submit" (click)="sendMessage(message)"class="msger-send-btn">Send</button>
    </form>
  </section>
