.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-user {
  width: 60%;
  padding-bottom: 50px;
  margin: auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #b0c1d9;
}
.form-control::placeholder {
  font-family: FontAwesome;
}
.active-cyan-3 input[type="text"] {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

.row {
  margin: auto;
  width: 50%;
}

img {
  height: 65px;
  border-radius: 50%;
}

.img-friend {
  height: 50px;
}
