<div class="container text-center">
  <h1>{{ title }}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Start searching for a user"
      />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Is A Friend</th>
        </tr>
        <tr *ngFor="let user of users | filter: searchText">
          <td>{{ user.name }}</td>
          <td>
            <button type="submit" (click)="changeUserStatus(user.id)">
              {{ user.isFriend }}
            </button>
          </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
