
  .photocard {
    color: #eee;
    height: 400px;
    width: 200px;
    text-align: center;
  }

  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }

  .img-uploaded{
    object-fit: cover;
    text-align: center;
    height: 500px;
    width: 500px;
  }
  
  .img-friend {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .centered{
    text-align:center;
  }
  